<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/SWAP/IdeaProjects/SeleniumAssignemnts/src/test/java/com/testng">
        <classes>
            <class name="com.testng.Assignment_1_testng">
                <methods>
                    <include name="Add_Two_Number"/>
                    <include name="Add_Two_Number1"/>
                    <include name="Add_Two_Number2"/>
                    <include name="Add_Two_Number4"/>
                </methods>
            </class>
            <class name="com.testng.TestCase2">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                </methods>
            </class>
            <class name="com.testng.TestCaseTest">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>